@media (max-width: 1200px) {
    #inicio {
        padding-left: 40px;
        padding-right: 40px;
    }
}
//==========================================
@media (max-width: 1024px) {
    #inicio {
        padding-left: 40px;
        padding-right: 40px;
        .botao {
            display: block;
            margin-bottom: 20px;
            padding: 10px 20px;
            text-align: center;
        }

        .botao-transparente{
            padding-left: 63px ;
        }
    }

    #duvidas{
        padding-left: 50px;
        padding-right: 60px;

        h3 {
            font-size: 15px;
        }
    }

    footer {
        padding-left: 50px;
        padding-right: 50px;
        gap: 50px;
    }
}
//==========================================
@media (max-width: 900px) {
    #inicio {
        display: flex;
        padding-bottom: 64px;
        h1 {
            margin-top: 0px;
        }

        .dog{
            width: 50%;
        }

        .paragrafo {
            margin-bottom: 20px;
            text-align: justify;
        }

        .botao {
            margin-bottom: 25px;
        }

        .botao-transparente {
            padding-left: 86px;
        }
    }

    #clinica {
        display: flex;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 24px;
        .dog-c {
            width: 50%;
        }
    }

    #farmacia {
        padding-top: 24px;
        .vet-f {
            width: 100%;
        }
    }

    #duvidas {
        display: flex;
        margin-right: 40px;
        .dvd {
            width: 50%;
        }
        h2 {
            text-align: center;
        }
    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
        gap: 50px;
    }
}
//==========================================
@media (max-width: 768px) {
    #inicio {
        h1 {
            margin-top: 24px;
        }

        .dog {
            width: 50%;
        }

        .paragrafo {
            text-align: left;
        }

        .botao-transparente {
            padding-left: 53px;
        }
    }

    #clinica {
        .paragrafo {
            text-align: left;
        }
        .dog-c {
            width: 50%;
        }
    }

    #duvidas {
        padding-right: 30px;
        padding-top: 0px;
        .dvd {
            width: 50%;
        }
    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
        gap: 50px;
        font-size: 14px;
    }

    #copyright {
        font-size: 14px;
    }

}
//==========================================
@media (max-width: 720px) {
    #inicio {
        padding-top: 0;
        h1 {
            margin-top: 80px;
            font-size: 25px;
        }
        .dog {
            height: 300px;
        }

        .botao-transparente {
            padding-left: 50px;
        }
    }

    #clinica {
        gap: 35px;
        h2 {
            font-size: 25px;
        }

        .dog-c {
            height: 300px;
        }
    }

    #farmacia {
        h2 {
            font-size: 25px;
        }

        .vet-f {
            height: 300px;
        }
    }

    #duvidas {
        margin-right: 0px;
        h2 {
            font-size: 25px;
        }
        .dvd {
            margin-left: 16px;
            height: 300px;
        }
    }
}
//==========================================
@media (max-width: 480px) {
    header {
        .menu {
            a {
                display: block;
                padding: 0;
            }
        }
    }

    #inicio {
        display: block;
        h1 {
            margin-top: 0px;
            font-size: 23px;

        }
        .dog {
            width: 380px;
            height: 420px;
        }

        .botao {
            margin-left: 40px;
        }

        .botao-transparente {
            margin-left: 69px;
        }
    }

    #clinica {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;

        h2{
            font-size: 23px;
        }

        .dog-c {
            width: 100%;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
        }
    }

    #farmacia {
        padding-top: 24px;
        padding-bottom: 24px;

        h2 {
            font-size: 23px;
        }

        .vet-f {
            width: 100%;
        }
    }

    #duvidas {
        display: block;
        padding-bottom: 24px;
        padding-right: 30px;
        padding-top: 24px;

        h2 {
            font-size: 23px;
        }

        .dvd {
            margin-left: 0px;
            width: 100%;
        }

        h3 {
            font-size: 14px;
        }
        
    }

    footer {
        display: block;
        .titulo {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}
//==========================================
@media (max-width: 425px) {
    #inicio {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 44px;

        h1 {
            font-size: 23px;
        }

        .dog {
            padding-left: 0px;
        }

        .paragrafo {
            text-align: left;
        }

        .botao-transparente {
            margin-left: 45px;
        }
    }

    #clinica {
        h2 {
            font-size: 23px;
        }

        .paragrafo {
            text-align: left;
        }
    }

    #farmacia {
        padding-top: 0px;

        h2 {
            margin-bottom: 0px;
            font-size: 23px;
        }

        .vet-f {
            width: 300px;
            height: 300px;
        }
    }

    #duvidas {
        padding-top: 0px;
        
        h2 {
            font-size: 23px;     
        }

        h3 {
            font-size: 14px;
        }
    }
}
//==========================================
@media (max-width: 375px) {
    header {
        gap: 90px;
    }

    #inicio {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 34px;

        h1{
            font-size: 22px;
        }

        .dog {
            width: 100%;
        }

        h1 {
            margin-top: 0px;
        }

        .botao-transparente {
            margin-left: 31px;
        }
    }

    #clinica {
        padding-bottom: 24px;
        padding-left: 25px;
        padding-right: 25px;

        h2{
            font-size: 22px;
        }

        .dog-c {
            height: 300px;
        }
    }

    #farmacia {
        padding-left: 25px;
        padding-right: 25px;

        h2{
            font-size: 22px;
        }
    }

    #duvidas {
        padding-left: 20px;
        padding-right: 20px;

        h2{
            font-size: 22px;
        }

        .dvd {
            height: 300px;
        }

        h3 {
            font-size: 14px
        }
    }
}
//==========================================
@media (max-width: 320px) {
    header {
        gap: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #inicio {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 24px;
        .dog {
            height: 300px;
            padding-left: 0px;
        }
        h1 {
            text-align: center;
            font-size: 25px;
            margin-top: 0px;
        }

        .paragrafo {
            text-align: center;
            font-size: 14px;
        }

        .botao {
            font-size: 14px;
        }

        .botao-transparente {
            margin-left: 19px;
            font-size: 14px;
        }
    }

    #clinica {
        padding-left: 20px;
        padding-right: 20px;
        h2 {
            text-align: center;
            font-size: 25px;
        }

        .paragrafo {
            font-size: 14px;
            text-align: center;
        }
        .list {
            font-size: 14px;
        }
    }

    #farmacia {
        padding-left: 30px;
        padding-right: 20px;
        h2 {
            text-align: center;
            font-size: 25px;
            margin-bottom: 0px;
        }

        .vet-f{
            height: 220px;
        }

        .paragrafo {
            font-size: 14px;
        }
    }

    #duvidas {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        .dvd {
            margin-left: 0px;
        }

        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 14px;
            padding-left: 20px;
            padding-right: 30px;
            position: relative;
        }
    }

    footer {
        font-size: 14px;
        padding-top: 34px;
        padding-bottom: 34px;
    }

    #copyright {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
//==========================================