@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #263238;
}

header {
  background-color: #FF9A6C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
}

header nav a {
  color: #FFFFFF;
  padding-left: 32px;
  text-decoration: none;
  font-weight: 600;
}

#inicio {
  display: flex;
  align-items: center;
  gap: 32px; /* Distância entre os elementos*/
  padding: 24px 80px 128px 80px;
  position: relative;
}

h1,
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.botao {
  background-color: #FF725E;
  color: #FFFFFF;
  margin-right: 32px;
  padding: 16px 32px;
  border-radius: 10px;
  text-decoration: none;
}

.botao-transparente {
  background-color: transparent;
  color: #FF725E;
  text-underline-offset: 4px; /*Linha espaçada abaixo do link*/
}

.absolut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10; /*posição de profundidade do elemento*/
}

#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-bottom: 16px;
  margin-left: 32px;
}

#farmacia {
  text-align: center;
  padding: 64px 80px;
}

#famacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

#duvidas {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 2px solid #FF725E;
  border-radius: 8px;
  padding: 24px;
  font-size: 16px;
  cursor: pointer;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
  cursor: pointer;
}

.duvida .paragrafo {
  border-right: 1px solid #FF725E;
  border-bottom: 1px solid #FF725E;
  border-left: 1px solid #FF725E;
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

.duvida.ativa .paragrafo {
  height: fit-content; /* a altura vai se ajustar p/ caber o conteúdo */
  opacity: 1;
  padding: 24px;
}

footer {
  background-color: rgba(255, 152, 108, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}

footer nav a {
  color: #263238;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p {
  margin-bottom: 16px;
  max-width: 350px;
}

footer p a {
  color: #263238;
  text-decoration: none;
}

#copyright {
  color: #FFFFFF;
  background-color: #263238;
  text-align: center;
  padding: 24px;
}

#copyright a {
  color: #FF9A6C;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #inicio {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1024px) {
  #inicio {
    padding-left: 40px;
    padding-right: 40px;
  }
  #inicio .botao {
    display: block;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
  }
  #inicio .botao-transparente {
    padding-left: 65px;
  }
  #duvidas {
    padding-left: 50px;
    padding-right: 60px;
  }
  #duvidas h3 {
    font-size: 15px;
  }
  footer {
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
  }
}
@media (max-width: 900px) {
  #inicio {
    display: block;
    padding-bottom: 64px;
  }
  #inicio h1 {
    margin-top: 32px;
  }
  #inicio .dog {
    margin-left: 120px;
  }
  #inicio .botao {
    width: 200px;
    height: 20px;
    margin-bottom: 25px;
    margin-left: 295px;
  }
  #inicio .botao-transparente {
    margin-left: 255px;
  }
  #clinica {
    display: block;
    padding-left: 50px;
    padding-right: 50px;
  }
  #clinica .dog-c {
    margin-left: 200px;
  }
  #duvidas {
    display: block;
  }
  #duvidas .dvd {
    margin-left: 130px;
  }
  #duvidas h2 {
    text-align: center;
  }
  footer {
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  #inicio h1 {
    margin-top: 24px;
    text-align: center;
  }
  #inicio .paragrafo {
    text-align: justify;
  }
  #inicio .dog {
    margin: 0;
    padding-left: 70px;
  }
  #inicio .botao {
    margin-left: 250px;
  }
  #inicio .botao-transparente {
    margin-left: 273px;
    padding: 0;
  }
  #clinica {
    padding-top: 24px;
  }
  #clinica h2 {
    text-align: center;
  }
  #clinica .paragrafo {
    text-align: justify;
  }
  #clinica .dog-c {
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 100px;
  }
  #duvidas .dvd {
    margin-left: 50px;
  }
  footer {
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    font-size: 14px;
  }
  #copyright {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  #inicio h1 {
    margin-top: 80px;
  }
  #inicio .dog {
    padding-left: 20px;
  }
  #inicio .botao {
    margin-left: 220px;
  }
  #inicio .botao-transparente {
    margin-left: 240px;
  }
  #duvidas .dvd {
    margin-left: 16px;
  }
}
@media (max-width: 480px) {
  header .menu a {
    display: block;
    padding: 0;
  }
  #inicio h1 {
    margin-top: 24px;
  }
  #inicio .dog {
    width: 380px;
    height: 420px;
  }
  #inicio .botao {
    margin-left: 90px;
  }
  #inicio .botao-transparente {
    margin-left: 113px;
  }
  #clinica {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  #clinica .dog-c {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  }
  #farmacia {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  #farmacia .vet-f {
    width: 100%;
  }
  #duvidas {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 30px;
  }
  #duvidas .dvd {
    margin-left: 0px;
    width: 100%;
  }
  footer {
    display: block;
  }
  footer .titulo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  header {
    gap: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #inicio {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
  }
  #inicio .dog {
    width: 100%;
    padding-left: 0px;
  }
  #inicio h1 {
    font-size: 25px;
    margin-top: 0px;
  }
  #inicio .paragrafo {
    text-align: center;
    font-size: 14px;
  }
  #inicio .botao {
    margin-left: 35px;
    font-size: 14px;
  }
  #inicio .botao-transparente {
    margin-left: 70px;
    font-size: 14px;
  }
  #clinica {
    padding-left: 20px;
    padding-right: 20px;
  }
  #clinica h2 {
    font-size: 25px;
  }
  #clinica .paragrafo {
    font-size: 14px;
    text-align: center;
  }
  #clinica .list {
    font-size: 14px;
  }
  #farmacia {
    padding-left: 30px;
    padding-right: 20px;
  }
  #farmacia h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
  }
  #farmacia .paragrafo {
    font-size: 14px;
  }
  #duvidas {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
  }
  #duvidas .dvd {
    margin-left: 0px;
  }
  #duvidas h2 {
    font-size: 25px;
  }
  #duvidas h3 {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
  }
  footer {
    font-size: 14px;
    padding-top: 34px;
    padding-bottom: 34px;
  }
  #copyright {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
